body {
    background-color: #222;
}

header {
    width: 100%;
    margin: 0px auto 25px auto;
    color: #fff;
    text-align: center;
    background-color: #000;
}

#container {
    width: 100%;
    margin: 0px auto;
    min-height: 625px;
    background-color: ivory;
}

footer {
    width: 100%;
    margin: 25px auto;
    color: #fff;
    text-align: center;
    background-color: #000;
}

.jumbotron {
    text-align: center;
    color: #444;
}

.nextButton {
    float: right;
}

.btn {
    background-color: #222;
}

.btn:hover {
    background-color: #ddd;
    color: #333;
}

h2 {
    text-align: center;
    font-weight: 700;
}

label.error {
    float: none;
    color: red;
    padding-left: .5em;
    vertical-align: top;
    display: block;
}

.ui-button {
    border: 1px solid #aaaaaa;
    color: #FF0000;
    background-color: #fff;
}

#disclaimers p {
    color: #000;
}

label {
    vertical-align: middle;
    font-size: 1.2em;
}

input[type=radio] {
    height: 35px;
    width: 35px;
}

.rad {
    margin-bottom: 25px;
}